<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="94d10a3c-32d4-4518-b2b7-07c18b6d3d67" data-blockingmode="auto" type="text/javascript"></script>
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go home">
            <img class="avatar" src="/assets/avatar.jpeg" alt="">
        </a>

        <nav>
            <a href="/">Home</a>
            <a href="/notes/Thomas">About Me</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/imprint">Imprint</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>

    <footer class="page-footer">
      <small>Copyright {{site.author}} - Find me on <a href="https://twitter.com/Fruetel">Twitter</a></small>
    </footer>
</body>
</html>
